[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rospca"]
	path = rospca
	url = https://github.com/treynkens/rospca
	shallow = true
	registered = true
[submodule "ReIns"]
	path = ReIns
	url = https://github.com/treynkens/reins
	shallow = true
	registered = true
